<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="jquery-3.3.1.js"></script>
    <script src="todos.js"></script>
</head>
<body>
<form action="/" method="post">
    <input id="task" name="task" type="text">
    <input id="btn" type="submit" value="ADD">
</form>
<ul id="list">
{{#each todos as |t|}}
    <li>{{t.task}}</li>
{{/each}}
</ul>
</body>
</html>