<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Scripts -->
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/fontawesome-all.js"></script>
    <script src="/js/shopping_cart.js"></script>

    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 p-3">
            <h2 class="h2 text-center">My Account</h2>

            <div id="user-table-myaccount" class="row">
                <div class="col"></div>
                <div class="col-8">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Username</td>
                            <td>{{user.username}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

</body>
</html>