<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Scripts -->
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/fontawesome-all.js"></script>
    <script src="/js/shopping_cart.js"></script>

    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 p-3">
            <h2 class="h2 text-center">Sign In</h2>

            <div id="user-form-signin" class="row">
                <div class="col"></div>
                <div class="col-8">
                    <form action="/signin" method="post">
                        <div class="form-group">
                            <label for="user-username">Username</label>
                            <input placeholder="Choose an username"
                                   class="form-control" type="text"
                                   name="username" id="user-username">
                            <label for="user-password">Password</label>
                            <input placeholder="Hush hush"
                                   class="form-control" type="password"
                                   name="password" id="user-password">
                            <div class="row p-2">
                                <div class="col p-2">
                                    <input id="user-signin-submit"
                                           class="btn btn-success col"
                                           type="submit" value="Submit">
                                </div>
                                <div class="col p-2">
                                    <input class="btn btn-danger col" type="reset" value="Reset">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

</body>
</html>