<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>

<form>
    <input type="text" placeholder="name">
    <input type="submit">
</form>

<ul></ul>

</body>
</html>